#preloader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 100;
  flex-direction: column;
  background-color: black;
}

#percent {
  color: white;
  font-family: "Neutral Face";
}

#bar {
  width: 60%;
  margin-top: 20px;
}

#barconfrm {
  height: 100%;
  padding: 1px 0px;
  background-color: white;
}
